@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Oswald:wght@400;500;600;700&family=Raleway:wght@500&display=swap');

// GLOBAL STYLES

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #010101;
    overflow-x: hidden;
}

.conrainer {
    min-width: 100%;
    max-width: 1200px;
}

// .container-fluid {
//     max-width: 2000px;
// }

body a {
    outline: none;
}

.button--black {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 0px;
    padding: 1rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #010101;
    transition: 0.5s;
    &:hover,
    &:focus {
        color: #ffffff;
        background-color: transparent;
        border: 1px solid #ffffff;
    }
}

.button-transparent {
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 0px;
    padding: 1rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
    color: #010101;
    transition: 0.5s;
    &:hover,
    &:focus {
        color: #ffffff;
        background-color: transparent;
        border: 1px solid #ffffff;
    }
}

// HEADER

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: linear-gradient(0deg, rgba(237, 237, 237, 0) 1%, rgba(27, 27, 27, 1) 100%);
    &__inner {
        background-color: transparent;
        height: 80px;
    }
    &__logo {
    }
    .nav {
        text-transform: uppercase;
        &__link {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 32px;
            color: #c7c7c7;
            text-decoration: none;
            transition: 0.75s linear;
        }
        &__link--active {
            font-weight: 600;
            color: #ffffff;
        }
        &__link:hover,
        &__link:focus {
            color: #ffffff;
        }
    }
}

// SECTION

.intro {
    background: #535a5e url('../Images/PNG/headerBackground.png');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &__text--inner {
        height: 700px;
        width: 100%;
        padding-top: 14.1875em;
        .text {
            &--title {
                font-family: Oswald;
                font-style: normal;
                font-weight: 600;
                font-size: 64px;
                line-height: 64px;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #ffffff;
                margin-bottom: 1rem;
            }

            &--description {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 26px;
                color: #ffffff;
                text-align: center;
                margin-bottom: 2rem;
                width: 67%;
            }

            &--footer {
                width: 18.375rem;

                .arrow {
                    margin-top: 8rem;
                    width: 35px;
                    height: 17.5px;
                    .icon {
                        width: 35px;
                        height: 17.5px;
                    }
                }
            }
        }
    }

    &__aside-inner {
        width: 15rem;
        height: 19px;
        position: absolute;
        // background:aqua;
        top: 303px;
        right: -103px;
        transform: rotate(270deg);
        .aside__links {
            &--item {
                background-color: #010101;
                height: 32px;
                padding: 6px;
                font-family: Oswald;
                font-style: normal;
                font-weight: normal;
                font-size: 12px;
                line-height: 20px;
                color: #ffffff;
                text-transform: uppercase;
                text-decoration: none;
                transition: 0.5s linear;
                outline: none;
                &:hover,
                &:focus {
                    background-color: #ffffff;
                    color: #010101;
                }
            }
        }
    }
}

// SECTION

.about {
    background-color: #010101;
    color: #ffffff;
    &--wrapper {
        margin-top: 8rem;
    }
    .statistic {
        .counter {
            &--number {
                font-family: Oswald;
                font-style: normal;
                font-weight: bold;
                font-size: 68px;
                line-height: 76px;
            }
            &--label {
                font-family: Raleway;
                font-style: normal;
                font-weight: 500;
                font-size: 28px;
                line-height: 33px;
                text-align: left;
                text-transform: uppercase;
                // background-color:violet;
                // width: 11rem;
                margin-left: 1rem;
            }
            &--projects {
                width: 13.4375rem;
            }

            &--hours {
                width: 14.8125rem;
            }

            &--brands {
                width: 12.9375rem;
            }
            &--views {
                width: 17.875rem;
            }
        }
    }
    .opportunities {
        margin-top: 7.6875rem;
        &__item {
            width: 21.375rem;
            height: 13.375rem;

            &--text {
                background: linear-gradient(360deg, #010101 -16.15%, rgba(1, 1, 1, 0) 104.17%);
                opacity: 0.8;
                font-family: Oswald;
                font-style: normal;
                font-weight: 500;
                font-size: 40px;
                line-height: 64px;
                color: #ffffff;
                width: 21.375rem;
                height: 13.375rem;
                text-transform: uppercase;
            }
            &--shoot {
                background: url('../Images/PNG/filmingImage.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
            &--takePicture {
                background: url('../Images/PNG/photographingImage.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            &--creative {
                background: url('../Images/PNG/creativeImage.png');
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }
        }
    }

    .story {
        &--wrapper {
            margin-top: 7.5625rem;
        }
        &__text {
            &--title {
                font-family: Oswald;
                font-style: normal;
                font-weight: normal;
                font-size: 28px;
                line-height: 34px;
                text-transform: uppercase;
                margin-bottom: 2rem;
            }
            &--body {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
            }
        }
        &__photo img {
            width: 35.3125rem;
            height: 39.1875rem;
        }
    }
}

// SECTION

.work {
    &--wrapper {
        margin-top: 7.5rem;
        padding: 0;
    }
    &__photos {
        // height: 51.375rem;
        // display: grid;
        // grid-template-areas:
        //     'largetop largetop smalltop1'
        //     'largetop largetop smalltop2'
        //     'smallbottom1 smallbottom2 smallbottom3';
        // gap: 2px;
        .large {
            width: 59.9375rem;
            width: 100%;
            height: 34.4375rem;
            padding: 2px;

            &__text--title {
                font-family: Oswald;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 34px;
                text-transform: uppercase;
                color: #ffffff;
                margin-bottom: 1rem;
            }

            .strip {
                width: 20rem;
                height: 1px;
                background-color: #ffffff;
                margin-bottom: 1rem;
            }
            .button-transparent {
                margin-top: 160px;
                background-color: transparent;
                border: 1px solid #ffffff;
                border-radius: 0px;
                padding: 1rem;
                font-family: Montserrat;
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 24px;
                color: #010101;
                transition: 0.5s;
                &:hover,
                &:focus {
                    color: #ffffff;
                    // background-color: transparent;
                    border: 1px solid #ffffff;
                }
            }
        }
        .small {
            width: 29.875rem;
            height: 17.125rem;
            width: 100%;
            padding: 2px;
            &__text--title {
                display: none;
            }
            button {
                display: none;
            }
        }

        .secondPartOfFirstPart {
            padding: 0;
        }

        .mountains {
            background: url('../Images/PNG/guysAtMountainsImage.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // width: 959px;
            // height: 551px;
            // grid-area: largetop;
        }

        .porsche {
            background: url('../Images/PNG/twoPorsche.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // grid-area: smallbottom1;
        }

        .suzuki {
            background: url('../Images/PNG/greenSuzuki.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // grid-area: smallbottom2;
        }
        .sunset {
            background: url('../Images/PNG/susnsetChill.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // grid-area: smallbottom3;
        }

        .kayyaking {
            background: url('../Images/PNG/guyAtKayyak.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // grid-area: smalltop2;
        }

        .chevrolet {
            background: url('../Images/PNG/guysAtChevroletImage.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            // grid-area: smalltop1;
        }
    }

    .button--wrapper {
        margin-top: 40px;
        margin-bottom: 120px;
        .button--transparent {
            padding: 11px 16px;
            border: 1px solid #ffffff;
            border-radius: 0;
            box-sizing: border-box;
            background-color: transparent;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: #ffffff;
            transition: 0.5s;
            &:hover {
                background-color: #ffffff;
                color: #010101;
            }
        }
    }
}

// SECTION

.partners {
    background-color: #ffffff;
    &--wrapper {
        margin-top: 120px;
        width: 100%;
        padding: 120px 0;
    }

    &__logoList {
        margin-top: 48px;
    }
}

// SECTION

.slider {
    .slider__title {
        font-family: Oswald;
        font-style: normal;
        font-weight: normal;
        font-size: 28px;
        line-height: 34px;
        text-transform: uppercase;
        color: #010101;
    }
    .slider__navArrows {
        width: 58px;
        .icon {
            width: 10px;
            height: 20px;
        }
    }
}

// SECTION

.reviews {
    &--wrapper {
        width: 100%;
        padding: 120px 0 0;
    }

    .slider {
        .slider__title {
            font-family: Oswald;
            font-style: normal;
            font-weight: normal;
            font-size: 28px;
            line-height: 34px;
            text-transform: uppercase;
            color: #ffffff;
        }
        .slider__navArrows {
            width: 58px;
            .icon {
                width: 10px;
                height: 20px;
            }
        }
    }

    .card-group {
        margin-top: 56px;
        .card {
            border-radius: 0;
            min-height: 228px;
            &-body {
                padding: 32px;
                padding-bottom: 10px;
            }
            &-title {
                margin-bottom: 24px;
                &__text {
                    .text--heading {
                        margin-bottom: 8px;
                        font-family: Oswald;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 18px;
                        line-height: 24px;
                    }
                    .text--subHeading {
                        font-family: Raleway;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 20px;
                    }
                }
                &__image {
                }
                .lenovo {
                    width: 138px;
                    height: 48px;
                }
                .thomas {
                    width: 48px;
                    height: 48px;
                }

                .landrover {
                    width: 93px;
                    height: 48px;
                }
            }

            &-text__main {
                font-family: Raleway;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 20px;
            }
        }
        .card--light {
            background-color: #c7c7c7;
            color: #1e1e1e;
        }
        .card--dark {
            background-color: #1e1e1e;
            color: #ffffff;
        }
    }
}

// FOOTER

footer {
    .mountains {
        height: 10em;
        background: linear-gradient(180deg, #010101 11.52%, rgba(41, 40, 40, 0.76) 100%);
        &--big {
            width: 230px;
            margin-left: 8em;
        }
    }

    .footer__body {
        height: 13.75em;

        .footer__nav {
            .nav__link {
                font-family: Montserrat;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 32px;
                color: #ffffff;
                text-transform: uppercase;
                text-decoration: none;
                transition: 0.3s;
                &--active {
                    font-weight: 600;
                }
                &:focus,
                &:hover {
                    font-weight: 600;
                    transition: 0.3s;
                }
                .icon {
                    width: 24px;
                }
            }
        }

        .nav__links--wrapper {
            width: 80%;
            height: 72px;
            margin-bottom: 2em;
        }

        .footer__icons {
            width: 29%;
            height: 1.5em;
            margin-bottom: 1.5em;
        }

        .footer__naming {
            text-transform: uppercase;
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 32px;
            color: #ffffff;
        }
    }
}
